body{
    background: black;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    top: 0;
    left: 0;
}
.navbar h1{
    color: rgb(249, 249, 172);
    padding-left: 15px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar ul{
    display: flex;
    gap: 15px;
    list-style: none;
}
.navbar ul li a{
    color: aliceblue;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 15px ;
    font-weight: bold;
    
}
.navbar ul li a:hover{
    color: gold;
}
.hero{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.hero-content{
    position: relative;
}
.hero-content h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: white;
}
.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.buttons button{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-primary{
    background: rgb(255, 255, 169);
}
.btn-secondary{
    background: rgb(246, 246, 254);
}
.content{
    padding: 40px;
    text-align: center;
}
.content h3{
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content p{
    color: white;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#listOfMovies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.movie-card{
    width: 200px;
    border-radius: 10px;
    color: rgba(232, 246, 254, 0.888);
    background: rgb(0, 0, 0, 0.4);;
    text-align: left;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie-card img{
    width: 100%;
    height: 300px;
}