body{
    margin: 0;
    height: 100vh;
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: black; 
}
div{
    background-color: rgba(65, 44, 44, 0.656);
    padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  margin: 200px;
}
div h2{
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  margin: 0 auto;
}
button{
  padding: 10px;
  font-size: 16px;
  width: 150px;
  margin: 10px auto;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
p{
    font-size: 14px;
    color: white;
}